*.xcuserstate
NitraTakeHomeProject/Resources/Assets.xcassets/.DS_Store
NitraTakeHomeProject/Resources/Assets.xcassets/.DS_Store
NitraTakeHomeProject/Resources/.DS_Store
NitraTakeHomeProject/Resources/Assets.xcassets/.DS_Store
